@model fiddle_digital.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="row align-self-center">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top:30vh;">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
                @ButtonHelpers.Btn("Go home", "", nameof(fiddle_digital.Controllers.HomeController), string.Empty, "btn btn-default")
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}