<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=apple-touch-icon-precomposed sizes=57x57 href=/fav/apple-touch-icon-57x57.png>
    <link rel=apple-touch-icon-precomposed sizes=114x114 href=/fav/apple-touch-icon-114x114.png>
    <link rel=apple-touch-icon-precomposed sizes=72x72 href=/fav/apple-touch-icon-72x72.png>
    <link rel=apple-touch-icon-precomposed sizes=144x144 href=/fav/apple-touch-icon-144x144.png>
    <link rel=apple-touch-icon-precomposed sizes=60x60 href=/fav/apple-touch-icon-60x60.png>
    <link rel=apple-touch-icon-precomposed sizes=120x120 href=/fav/apple-touch-icon-120x120.png>
    <link rel=apple-touch-icon-precomposed sizes=76x76 href=/fav/apple-touch-icon-76x76.png>
    <link rel=apple-touch-icon-precomposed sizes=152x152 href=/fav/apple-touch-icon-152x152.png>
    <link rel=icon type=image/png href=/fav/favicon-196x196.png sizes=196x196>
    <link rel=icon type=image/png href=/fav/favicon-96x96.png sizes=96x96>
    <link rel=icon type=image/png href=/fav/favicon-32x32.png sizes=32x32>
    <link rel=icon type=image/png href=/fav/favicon-16x16.png sizes=16x16>
    <link rel=icon type=image/png href=/fav/favicon-128.png sizes=128x128>
    <meta name=application-name content=&nbsp;>
    <title>Fiddle digital</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&amp;subset=cyrillic-ext" rel=stylesheet>
    <link href=/js/contact.fa15e888.js rel=prefetch>
    <link href=/js/faces.955a24ff.js rel=prefetch>
    <link href=/js/journal.ef0327ce.js rel=prefetch>
    <link href=/js/performance.f61646b5.js rel=prefetch>
    <link href=/js/project.b061536f.js rel=prefetch>
    <link href=/js/singlearticle.6875f133.js rel=prefetch>
    <link href=/css/app.aea72c0f.css rel=preload as= style>
    <link href=/js/app.a6ff1f9e.js rel=preload as=script>
    <link href=/js/chunk-vendors.5d7b21c7.js rel=preload as=script>
    <link href=/css/app.aea72c0f.css rel=stylesheet>
</head>
<body>
    @RenderBody()
    <noscript><strong>We're sorry but Fiddle digital doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id=app></div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114031002-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-114031002-1');</script>
    <script src=/js/chunk-vendors.5d7b21c7.js></script>
    <script src=/js/app.a6ff1f9e.js></script>
</body>
</html>